@use "sass:map";
@use '../settings' as *;

.root {
    transition: all 0.115s ease-in-out;
    font-family: var(--amnui-font-family-primary);
    font-size: var(--amnui-font-size-md);
    outline: none;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    white-space: nowrap;
    user-select: none;
    position: relative;
    overflow: hidden;
    gap: var(--amnui-spacing-2);
    cursor: pointer;

    &.contained {
        padding: var(--amnui-spacing-2) var(--amnui-spacing-4);
        border-radius: var(--amnui-rounding);
    }

    &.outlined {
        padding: var(--amnui-spacing-2) var(--amnui-spacing-4);
        border-radius: var(--amnui-rounding);
    }

    &.text {
        padding: var(--amnui-spacing-0);
        margin: var(--amnui-spacing-0);
    }

    &.toast {
        width: 100%;
        padding: var(--amnui-spacing-3) var(--amnui-spacing-4);
        border-radius: var(--amnui-rounding);
        text-align: left;
        white-space: normal;
        align-items: center;
        justify-content: flex-start;
    }

    @each $theme in $themes {
        $name: map.get($theme, "name");
        &.contained.#{$name} {
            background-color: var(--amnui-#{$name});
            color: var(--amnui-#{$name}-text);
            border: 1px solid var(--amnui-#{$name});
        }

        &.outlined.#{$name} {
            background-color: transparent !important;
            color: var(--amnui-#{$name});
            border: 1px solid var(--amnui-#{$name});
        }

        &.text.#{$name} {
            background-color: transparent !important;
            color: var(--amnui-#{$name});
            border: none;
        }

        &.toast.#{$name} {
            background-color: var(--amnui-white);
            color: var(--amnui-dark);
            border: 1px solid var(--amnui-#{$name});
        }

        &.contained.#{$name}:hover, &.outlined.#{$name}:hover {
            background-color: var(--amnui-#{$name}-dark);
            color: var(--amnui-#{$name}-text);
            border: 1px solid var(--amnui-#{$name}-dark);
            transform: scale(1.05);
            outline: var(--amnui-#{$name});
        }

        &.toast.#{$name}:hover {
            background-color: var(--amnui-light);
            color: var(--amnui-dark);
            border: 1px solid var(--amnui-#{$name});
            transform: none;
        }

        &.text.#{$name}:hover {
            color: var(--amnui-#{$name}-dark);
            text-decoration: underline;
        }

        &.contained.#{$name}:active, &.outlined.#{$name}:active {
            background-color: var(--amnui-#{$name}-light);
            color: var(--amnui-#{$name}-text);
            border: 1px solid var(--amnui-#{$name}-light);
            outline: var(--amnui-#{$name});
            transform: scale(0.95);
        }

        &.toast.#{$name}:active {
            background-color: var(--amnui-light);
            color: var(--amnui-dark);
            border: 1px solid var(--amnui-#{$name});
            outline: var(--amnui-#{$name});
            transform: none;
        }

        &.text.#{$name}:active {
            color: var(--amnui-#{$name}-light);
            text-decoration: underline;
        }
    }
}

:host([disabled]){
    .root {
        filter: grayscale(.75);
        cursor: not-allowed;
    }
    
    @each $theme in $themes {
        $name: map.get($theme, "name");
        .contained.#{$name}, &.outlined.#{$name} {
            background-color: var(--amnui-#{$name}-light);
            color: var(--amnui-#{$name}-text);
            border: 1px solid var(--amnui-#{$name}-light);
        }

        .text.#{$name} {
            background-color: var(--amnui-#{$name}-light);
        }
    }
}


