body {
    background-color: #0f0f0f;
    color: #f0f0f0;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
}